body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  font-size: 2rem;
  background-color: wheat;
  color: snow;
  font-style: italic;
}

p {
  margin-top: 50px;
  font-size: 1.5rem;
}

.container {
  position: absolute;
  text-align: center;
  top: 25%;
  left: 15%;
}

.conatiner-cards {
  width: 100%;
}

.items {
  position: relative;
  z-index: 1;
}

picture> * {
  width: 100%;
}

@media screen and (max-width: 600px) {
  p {
    color: blue;
  }
}
